/**
 * Playback CSS
 *
 * @author VinhLH
 */

form {
    padding: 15px;
}

#playback-box {
    background: #f5f6f7;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #ddd;
    /*height: 250px;*/
    /*overflow-y: scroll;*/
}

#playback-box pre {
    overflow-y: scroll;
}

.screenshots {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.screenshots li {
    width: 100%;
}

.screenshots img {
    width: 100%;
}

.indicators-desc {
    font-size: 12px;
}

.indicators {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.indicators li {
    display: inline-block;
    margin-right: 5px;
}

.indicators li a {
    padding: 2px 5px;
    font-size: 12px;
    text-decoration: none;
}

.screenshots li a span {
    margin-top: 5px;
    color: #999;
    display: inline-block;
    font-size: 12px;
}

.screenshots li a:hover span{
    text-decoration: none;
}

.indicators li a.active {
    background: #272727;
    color: #fff;
}