/**
 * Popup CSS
 *
 * @author VinhLh
 */
.popup {
    margin: 15px;
    width: 300px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul li {
    display: block;
}

ul a.btn{
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}

ul li:last-child a{
    margin-bottom: 0;
}

ul a:hover {
    text-decoration: none;
    outline: none;
    background: #f5f6f7;
}

ul li.desc {
    text-align: left;
    font-size: 14px;
    /*font-weight: bold;*/
    margin-bottom: 5px;
    margin-top: 10px;
}

ul li.desc:first-child {
    margin-top: 0;
}

ul a .fa {
    color: #fff;
    padding-right: 10px;
}

h4 {
    text-align: center;
    width: 100%;
    display: block;
    border-bottom: 1px solid #f5f6f7;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-bottom: 0;
}

#user {
    font-size: 12px;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #f5f6f7;
    padding: 10px;
    margin-bottom: 20px;
    color: #999;
}

#user b {
    color: #333;
    /*font-weight: normal;*/
}

#user .fa {
    color: #ddd;
    font-size: 16px;
}

form {
    margin-top: 15px;
}

legend {
    font-size: 14px;
    border-bottom: none;
    margin-bottom: 10px;
}