<!DOCTYPE html>
<html ng-app="CapturePlayback" ng-csp>
<head>
    <meta charset="UTF-8">
    <title>CapturePlayback</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/angularjs/angular-csp.css">
    <link rel="stylesheet" type="text/css" href="css/prism.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/playback.css">
</head>
<body ng-controller="MainController">
    <form method="POST" role="form">
        <legend>Playback</legend>

        <div class="form-group" ng-show="projects" ng-cloak>
            <label for="project">Project <font color="red">*</font></label>
            <select name="project" id="project" class="form-control" required="required" ng-model="selected['project']" ng-options="project.id as project.name for project in projects" ng-change="getIssues()" ng-show="projects.length" ng-cloak>
            </select>
            <p ng-show="!projects.length" ng-cloak>No available projects!</p>
        </div>

        <div class="form-group" ng-show="issues" ng-cloak>
            <label for="issue">Issues <font color="red">*</font></label>
            <select name="issue" id="issue" class="form-control" required="required" ng-model="selected['issue']" ng-options="issue.id as (issue.key + ' ' + issue.fields.summary) for issue in issues" ng-change="getScripts()" ng-show="issues.length" ng-cloak>
            </select>
            <p ng-show="!issues.length" ng-cloak>No available issues!</p>
        </div>

        <div class="form-group" ng-show="scripts" ng-cloak>
            <label for="script">Scripts <font color="red">*</font></label>
            <select name="script" id="script" class="form-control" required="required" ng-model="selected['script']" ng-options="script.id as (script.filename) for (key, script) in scripts" ng-change="getScriptDetail()" ng-show="scriptKeys.length" ng-cloak>
            </select>
            <p ng-show="!scriptKeys.length" ng-cloak>No available scripts!</p>
        </div>

        <div class="loading-text" ng-show="loading" ng-cloak>
            <i class="fa fa-refresh fa-spin"></i>
            <span>{{loading}}</span>
        </div>

        <div id="playback-box">
            <div class="form-group" ng-show="scriptKeys.length" ng-cloak>
                <label for="actions">User actions <font color="red">*</font></label>
                <div prism>
                    <pre class="line-numbers" data-line="{{currentStep}}"><code class="language-actions">{{actions}}</code></pre>
                </div>
            </div>

            <div class="form-group" ng-show="scriptKeys.length" ng-cloak>
                <label for="actions">Start URL</label>
                <p>
                    <a href="{{startUrl}}" target="__blank">{{startUrl}}</a>
                </p>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-show="scriptKeys.length && !isPlaying" ng-cloak ng-click="startPlayback()">
                    <i class="fa fa-play"></i> Playback
                </button>
                <button type="button" class="btn btn-primary btn-danger" ng-show="scriptKeys.length && isPlaying" ng-cloak ng-click="stopPlayback()">
                    <i class="fa fa-square"></i> Stop
                </button>
            </div>

            <div class="form-group" ng-show="playbackStatus.length" ng-cloak>
                <label for="actions">Playback log</label>
                <div class="status">
                    <p style="color: {{playbackStatus[playbackStatus.length - 1].color}}">{{currentStep ? '[ Line ' + currentStep + ' ]' : ''}} {{playbackStatus[playbackStatus.length - 1].text}}</p>
                </div>
            </div>
        </div>
    </form>

    <script src="../bower_components/angularjs/angular.min.js"></script>
    <script src="../bower_components/async/lib/async.js"></script>
    <script src="http://localhost:35729/livereload.js?snipver=1"></script>
    <script src="js/CaptureConfigs.js"></script>
    <script src="js/CaptureStorage.js"></script>
    <script src="js/Jira.js"></script>
    <script src="js/lib/prism.js"></script>
    <script src="js/ngPrism.js"></script>
    <script src="js/CapturePlayback.js"></script>
</body>
</html>