<!DOCTYPE html>
<html ng-app="CapturePopup">
<head>
    <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/angular-material/angular-material.min.css">

    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/popup.css">

    <meta name="viewport" content="initial-scale=1" />
</head>
<body>
    <div class="popup" ng-controller="MainController">
        <h4>Zalora <b>Capture</b></h4>

        <form method="POST" role="form" ng-show="!user && !loading" ng-cloak ng-submit="logIn()">
            <div class="alert alert-danger" role="alert" ng-show="showLoginFailBox">
                Log in failed! Please check your credentials!
            </div>

            <md-input-container>
                <label>Username</label>
                <input ng-model="username" required="required">
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input ng-model="password" required="required" type="password">
            </md-input-container>

            <md-button type="submit" class="">
                Login
            </md-button>


            <!-- <div class="form-group">
                <label for="server">Server URL <font color="red">*</font></label>
                <input type="text" class="form-control" id="server" name="server" placeholder="" required="required" ng-model="server">
            </div>

            <div class="form-group">
                <label for="username">Username <font color="red">*</font></label>
                <input type="text" class="form-control" id="username" name="username" placeholder="" required="required" ng-model="username">
            </div>

            <div class="form-group">
                <label for="password">Password <font color="red">*</font></label>
                <input type="password" class="form-control" id="password" name="password" placeholder="" required="required" ng-model="password">
            </div>


            <button type="submit" class="btn btn-primary">Log in</button> -->
        </form>

        <div class="loading-box" ng-show="loading" ng-cloak>
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
            </div>
            <span>{{loading}}</span>
        </div>

        <div id="menu-content" ng-show="user && !loading" ng-cloak>
            <div id="alert" class="alert alert-danger" class="alert" ng-show="alert" ng-cloak>
                <strong>Warning!</strong> Maybe you would need to refresh the page under record.
            </div>
            <ul id="menu">
                <li class="desc">
                    For Testers
                </li>
                <li id="start-record" ng-show="!isRecording" ng-cloak>
                    <!-- <a href="#" ng-click="setRecordingTab()" class="btn btn-primary">
                        <i class="fa fa-circle"></i><span>Start Session</span>
                    </a> -->
                    <md-button class="md-primary" ng-click="setRecordingTab()">
                        <i class="fa fa-circle"></i><span>
                        <span>Start Session</span>
                    </md-button>
                </li>
                <li id="stop-record" ng-show="isRecording" ng-cloak>
       <!--              <a href="#" ng-click="stopRecord()" class="btn btn-danger">
                        <i class="fa fa-stop"></i><span>Stop Session</span>
                    </a> -->
                    <md-button class="md-warn" ng-click="stopRecord()">
                        <i class="fa fa-stop"></i>
                        <span>Stop Session</span>
                    </md-button>
                </li>
                <li id="report-bug">
                    <!-- <a href="#" ng-click="reportBug()" class="btn btn-primary">
                        <i class="fa fa-bug"></i><span>Report Bug</span>
                    </a> -->
                    <md-button class="" ng-click="reportBug()">
                        <i class="fa fa-bug"></i><span>
                        <span>Report bug</span>
                    </md-button>
                </li>
                <li class="desc">
                    For Developers
                </li>
                <li id="playback" ng-click="initPlaybackWindow()">
                    <!-- <a href="#" class="btn btn-primary">
                        <i class="fa fa-play"></i><span>Playback</span>
                    </a> -->
                    <md-button class="">
                        <i class="fa fa-play"></i>
                        <span>Playback</span>
                    </md-button>
                </li>
            </ul>
            <div id="user">
                <div class="pull-left">
                    <!-- <i class="fa fa-user"></i>  -->
                    <b>{{user.name}}</b>
                </div>
                <div class="pull-right">
                    <!-- <a href="#" ng-click="logOut()" class="logout">Log out</a> -->

                    <md-button class="md-warn md-medium" ng-click="logOut()">Log out</md-button>
                </div>
            </div>
        </div>
    </div>

    <script src="../bower_components/angularjs/angular.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>

    <script src="../bower_components/async/lib/async.js"></script>
    <script src="js/Jira.js"></script>
    <script src="js/CaptureConfigs.js"></script>
    <script src="js/CaptureStorage.js"></script>
    <script src="js/CapturePopup.js"></script>
</body>
</html>